@use '../../global' as *;
@use '../../partials' as *;

button, 
[type='button'], 
[type='reset'], 
[type='submit'] {
  cursor: pointer;
  border: none;
  @include transparent-button;
  opacity: 1;
  margin: 0;
  padding: 0;
  @include transitionsall;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.gradient-btn {
  background-image: $linear-main;
  background-size: 120% 100%;
  padding: size(10) 0;
  @include radius(8);
  @include w100;
  color: $white;
  @include font($primaryFont, 14, semibold, normal, 24);

  @include breakpoint (mobile576) {
    @include font($primaryFont, 16, semibold, normal, 24);
    @include transitionsall;
  }

  @include hover {
    background-position: 100% 0;
    @include transitionsall;
  }
}

.social-btn {
  @include border(solid,1,$gray-300);
  @include w100;
  padding: size(10) 0;
  @include radius(8);
  @include font($primaryFont, 14, semibold, normal, 24); 
  box-shadow: $boxshadow-1;
  @include flex-center-horiz;
  gap: size(10);
  background: $white;
  color: $gray-700;

  @include breakpoint (mobile576) {
    @include font($primaryFont, 16, semibold, normal, 24);
    @include transitionsall;
  }

  @include hover {
    background: darken($white,3%);
  }

} 
.add-btn {
  background-image: $linear-main;
  color: $white;
  @include square(46);
  @include radius(14);
  @include flex-center;
  @include border(solid,5, hsl(234, 100%, 95%));
  @include font($primaryFont,23,normal,normal,27);
  @include transitionsall;
  @include hover {
    border-color: lighten($main,45%);
    color: $white;
  }

  &.mobile-fixed {
    position: fixed;
    bottom: size(20);
    right: size(20);
    @include breakpoint(tab992) {
      display: none;
    }
  }
}

.home-btn {
  svg {
    path {
      @include transitionsall;
    }
  }
  &.active {
    svg {
      path {
        stroke:$main ;
      }
    }
  }
}


