@use '../../global' as *;
@use '../../partials' as *;

.form-group {
    position: relative;
    .form-label {
        @include font($primaryFont,14,medium,normal,24);
        color: $gray-700;
        
    }
    .form-control {

        &.custom-input {
            @include font($primaryFont,14,normal,normal,24);
            padding:size(8) size(14);
            box-shadow: $boxshadow-1;
           
            @include breakpoint(mobile576) {
              @include font($primaryFont,14,normal,normal,24);
            }

            &:focus {
                box-shadow: none ;
                
            }

            &::placeholder {
             @include font($primaryFont,14,normal,normal,24);

            

            }
        }
    }

    .show-hide {
        position: absolute;
        right: size(30);
        top:size(43);
        cursor: pointer;
        i.fa {
            color: #D0D5DD!important;
        }
        
    }
}

