@use '../../global'as *;
@use '../../partials'as *;

.template-card {
    @include border(solid,1,$gray-300);
    padding: size(16);
    @include radius(10);
    @include flex-column;
    gap: size(10);
    @include transitionsall;
    // min-width: size(180); 
    min-width: size(170);
    max-width: size(290);
    @include breakpoint(tab992) {
        padding: size(20);
    }
 
    .card-img {
        @include square(30);
        overflow: hidden;

        img {
            @include wh100;
            object-fit: cover;
        }


    }

    .card-title {
        color: $gray-800;
        @include font($primaryFont,14,bold,normal,20);
    }

    .card-des {
        color: $gray-600;
        @include font($primaryFont,14,normal,normal,18);
    }

    @include hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    }

  
}



.pricing-card {
    @include border(solid,1,$gray-300);
    @include radius(16);
    padding: size(14);
    @include flex-column;
    gap: size(10);
    flex-grow: 1;
    @include transitionsall;
    @include breakpoint(mobile576) {
    padding: size(30);

    }

    @include breakpoint(tab992) {
        flex-grow: 0;
    }

    &-header {
        @include border-single(bottom,solid,1,$gray-300);
        @include flex-column;
        align-items: center;
        padding-bottom: size(20);
        gap: size(10);
       

        .price {
            color: $gray-900;
            @include font($primaryFont,34,semibold,normal,60);
            @include flex;
            align-items: center;
            .currency,
            .plane-time {
                font-size: size(20)
            }
        }
        .name {
            color: $gray-900;
            @include font($primaryFont,20,semibold,normal,30);

        }
        .info {
            color: $main;
        }
    }

    &-body {
        
        .facility-list {
            @include list-vertical;
            gap: size(10);
            padding-block: size(20);
            @include breakpoint(mobile576) {
                gap: size(16);
            }
            li {
                @include flex;
                gap: size(8);
                align-items: center;
                color: $gray-500;
                font-size: size(12);
                @include breakpoint(mobile576) {
                font-size: size(14);

                }
            }
            .icon-wrapper {
                @include square(24);
                @include circle;
                background: $main;
                @include flex-center;
                padding: size(6);

                &.cross-icon {
                    background:$danger ;
                }
                i {
                    color: $white;
                    
                }
            }
        }
    }

    @include hover {
        border-color: $main;
        transform: translateY(-4px);
    }


}



