@use '../global' as *;
@use '../partials' as *;

.main-content {

    // padding: size(30);
    // @include breakpoint(tab992) {
    //     padding: size(30) size(50);
    // }
}

.welcome {
    padding-bottom: size(30);
    &-title {
        @include font($primaryFont,26,semibold,normal,38);
        color: $gray-800;
        padding: size(10) size(0);

        @include breakpoint(mobile576) {
         @include font($primaryFont,30,semibold,normal,38);
        }
    }

    &-text {
        @include font($primaryFont,14,normal,normal,24);
        color: $gray-800;

        @include breakpoint(mobiel576) {
         @include font($primaryFont,16,normal,normal,24);
        }
    }
}

.popular-template {
    
    @include flex-column;
    gap: size(16);

    &-header {
        @include border-single(bottom,solid,1,$gray-300); 
        padding-bottom: size(12);

        .header-title {
            color: $gray-800; 
            @include font($primaryFont,16,bold,normal,24);
        }
    }

    &-body {

        .template-wrapper {
         
            display: flex;
            gap: size(10);
            // overflow-x: auto;
            @include hideScrollbar;
            padding: size(10) size(0);
            flex-wrap: wrap;
            

            .template-card {
               flex-grow: 1;
            //    min-width: size(260);
            }
            

        }
    }

    .swiper {
        width: 100%;
        height: 100%;
    }
    
    .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .swiper-slide a {
        background-color: white;
        width: 100%;
    
    }
    
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
}


.my-projects {
   
    @include hideScrollbar;
    @include flex-column;
    gap: size(0);

    
    &-header {
       
        padding-bottom: size(12); 
        .header-title {
            color: $gray-800; 
            @include font($primaryFont,16,bold,normal,24);
        }
    }

    &-body {
        
    }
}

.pricing {
    @include flex-column;
    gap: size(16);
    padding-top: size(20);
    &-header {
        @include border-single(bottom,solid,1,$gray-300); 
        padding-bottom: size(20);
        @include flex-column;
        gap: size(10);
        .header-title {
            color: $gray-800; 
            @include font($primaryFont,16,bold,normal,24);
        }
        .des {
            color: $gray-500;
            font-size: size(14);
        }
    }

    &-body {
        .pricing-cards {
            @include flex;
             gap: size(20);
            flex-wrap: wrap;
         }
    }
    


}








